@model OnlineShoppingMVC_Entity.ProductList

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Product</h2>

@using (Html.BeginForm("Update", "DisplayList", FormMethod.Post))
{
    @Html.HiddenFor(Model => Model.productId)
    <table cellpadding="10">
        <tr>
            <td>
                @Html.Label("ProductName")
            </td>
            <td>
                @Html.EditorFor(Model => Model.productName)
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("ProductPrice")
            </td>
            <td>
                @Html.EditorFor(Model => Model.productPrice)
            </td>
        </tr>
        <tr>
            <td>
                @Html.ActionLink("Cancel", "Index")
            </td>
            <td>
                <input type="submit" value="Update" />
            </td>
        </tr>
    </table>
}

